MONGODB_URI=
UPSTASH_REDIS_URL=redis://default:xxxx@xxx.upstash.io:6379

# ── Meta WhatsApp Cloud API ──
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_BOT_NUMBER=
META_VERIFY_TOKEN=

# ── Nomba Payments ──
NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=
NOMBA_ENV=sandbox
VERCEL_URL=
